.party-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.party-label {
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 3px solid black;
    box-sizing: border-box;
    text-align: left;
}

.party-checkbox {
    margin-right: 0.5em;
    width: 1.5em;
    height: 1.5em;
}

.candidate-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-bottom: 6px solid black;
    box-sizing: border-box;

}

.candidate-label {
    width: 100%;
    font-size: 1.2em;
    text-align: left;
}

.candidate-checkbox {
    margin-right: 0.5em;
    width: 1.5em;
    height: 1.5em;
}

.submit-button {
    margin-top: 1em;
    width: 100%;
    height: 3em;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}